<h1><%= t(:edit, :default => 'Editing product', :scope => [:railties, :scaffold]) %></h1>

<%= render 'form' %>

<%= link_to t(:show, :default => 'Show', :scope => [:railties, :scaffold]), @product %> |
<%= link_to t(:back, :default => 'Back', :scope => [:railties, :scaffold]), products_path %>
