<h1><%= t(:new_product, :default => 'New product', :scope => [:railties, :scaffold]) %></h1>

<%= render 'form' %>

<%= link_to t(:back, :default => 'Back', :scope => [:railties, :scaffold]), products_path %>
